### Strings:

- In Python specifically `Strings` are sequence of **Unicode Characters**.
- To know more about Unicode:
> https://docs.python.org/3/howto/unicode.html
- `Strings` are **Immutable Data Type**. So we cannot edit strings.
- In Python during loop strings are worked as iterable.

    - Creating Strings
    - Accessing Strings
    - Adding Chars to Strings
    - Editing Strings
    - Deleting Strings
    - Operations on Strings
    - String Functions

<hr style="border:2px solid black">

In [1]:
# Creating a string

c = 'Hello'
print(c)

Hello

In [2]:
# multi line strings

c = '''Hello
World'''
print(c)

Hello
World

**Accessing Substrings from a String**

In [3]:
# Accessing the first value of the string using the indexing

print(c[0])

H

In [4]:
# Slicing
# [start:ending+1:step]
# Remember we can take reverse number in steps only when we are working with negative indexing

c = "Hello World"

print(c[0:5]) # upto index 4
print(c[0:8:3]) # upto index 7 with a step jump of 3 
print(c[-5:-1:2]) # using negative indexing
print(c[::-1]) # printing in reverse order using step
print(c[-1:-5:-1]) # going backwards

Hello
HlW
Wr
dlroW olleH
dlro

**Editing and Deleting in Strings**

In [5]:
# We cannot assign new values to an index in a string (Non mutable)
# So strings are not editable.

try:
    c[0] = "X"
except Exception as err:
    print(err)

'str' object does not support item assignment

In [6]:
# But we can reassign a new value

c = "world"
print(c)

world

In [7]:
# Deletion
# For deletion we use keyword "del"

del c

try:
    print(c)
except Exception as err:
    print(err)

name 'c' is not defined

In [8]:
# We cannot also delete an item of a string (Non mutable)
# That is we cannot partially delete a string.

c = "Hello World"

try:
    del(c[0])
except Exception as err:
    print(err)

'str' object doesn't support item deletion

**Operations on Strings**

   - Arithmetic Operations
   - Relational Operations
   - Logical Operations
   - Loops on Strings
   - Membership Operations (`in` and `not in`)

In [9]:
# Arithmetic operator
# Concatinating two strings using "+"

"Hello" + "-" + "world"

'Hello-world'

In [10]:
# Using "*" we can multiply a string

print("*"*50)

**************************************************

In [11]:
# Relational Operators

print("Hello" == "World")
print("Hello" != "WOrld")
print("Mumbai" > "Pune") # It is a Lexiographical comparison (Which word comes first in a dictionary)
print("Pune" > "pune")   # As ASCII value of "P" is smaller than "p"
print("Goa" < "Kolkata") # In dictionary the word comes later is bigger number than the word comes earlier
print("kol" < "Kol")  # As small laters come later in ASCII

False
True
False
False
True
False

In [12]:
# Logical Operators
# Empty strings are treated as False and non empty as True in Python

"hello" and "world" # Here it will print "world" as it ensures 1 in and logic

'world'

In [13]:
"hello" or "world" # Here as the first string is True so it gets printed.

'hello'

**Notes**
- **In Python internally if any string has any character then Python consider it as `True` and if it is empty then it is `False`**.
- So `"hello" and "world"` internally considered as `1 and 1` which returns `1`, but as here we used an `and` so internally Python checked for both the strings and when it found the second string is also `True` it prints the value of the second string.
- In case of `"hello" or "world"` the first string is `hello` which considered as `True` internally and as a result it didnot go any further and print the first string as the result.
- Remember in case of `and` logic it only prints after considering both the values and print the second one as result as it gives the conformation about the result. But in case of `or` it prints the first string as it gets confirmation with the first string itself.
- These are weird behaviour of Python.

In [40]:
# loops

for i in "delhi":
    print(i)

d
e
l
h
i

In [41]:
# Membership operations

print ("d" in "delhi")
print ("d" not in "Delhi")

True
True

**String Functions**

- These are common functions, i.e. they are common for all the data types:
  - len()
  - max()
  - min()
  - sorted()

In [14]:
# len() gives length of the string

c = "kolkata"
len(c)

7

In [15]:
# Giving maximum value on the basis of ASCII values

max(c)

't'

In [16]:
# Giving minimum value on the basis of ASCII values

min(c)

'a'

In [17]:
# sorted() to sort in alphabetically in ascending order
# It returns in list format

sorted(c)

['a', 'a', 'k', 'k', 'l', 'o', 't']

In [18]:
# Using "reverse=True" will make the order descending

sorted(c, reverse=True)

['t', 'o', 'l', 'k', 'k', 'a', 'a']

**Capitalize/Title/Upper/Lower/Swapcase**

- Thses type of functions can only be performed on strings.
- **Remember these functions do not change the original string**.

In [19]:
# capitalize() will make the first letter capital

c = "it is raining today"
c.capitalize()

'It is raining today'

In [20]:
# title() will make all the words in capital letter in the sentence

c.title()

'It Is Raining Today'

In [21]:
# upper() makes all characters in upper case

c.upper()

'IT IS RAINING TODAY'

In [22]:
# lower() makes all characters in lower case

c.lower()

'it is raining today'

In [23]:
# swapcase() converts upper to lower and lower to upper

"KoLkAtA".swapcase()

'kOlKaTa'

**Count/Find/Index**

In [24]:
# count() returns the count of a substring in a string

"it is raining".count("i")

4

In [25]:
# find() it returns the position of the first occurance of the substring

"it is raining".find("ing")

10

In [26]:
# index() almost same as find() but here it will throw error if the substring is not present
# But in find() it returns -1 if the substring is not present in the string

try:
    "it is raining".index("x")
except Exception as err:
    print(err)

substring not found

**endswith/startswith**

In [27]:
# endswith() returns boolean value if the string matches with the end value

"it is raining".endswith("ingef")

False

In [28]:
# startswith() same as endswith

"it is raining".startswith("it")

True

**format**

In [29]:
# format() to write values in a string

"Hello my name is {} and I am {}".format("Nitish",30)

'Hello my name is Nitish and I am 30'

**isalnum/ isalpha/ isdecimal/ isdigit/ isidentifier**

In [30]:
# isalnum() for Alphanumeric

"FLAT20&".isalnum()

False

In [31]:
# isalpha() for Alphabetic

"FLAT20".isalpha()

False

In [32]:
# isdigit() for digit

"20A".isdigit()

False

In [33]:
# isidentifier() for identification

"hello_world".isidentifier()

True

**Split/Join**

In [34]:
# To split a string
# By default it uses blank space
# It returns a list

"who is the pm of india".split()

['who', 'is', 'the', 'pm', 'of', 'india']

In [35]:
# Here we are splitting on the basis of "s"

"who is the pm of india".split("s")

['who i', ' the pm of india']

In [36]:
# Joining different strings, by default it use space

" ".join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who is the pm of india'

In [37]:
# Joinning using "-"

"-".join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who-is-the-pm-of-india'

**Replace**

In [38]:
# Replacing a substring in a string

"Hi my name is Nitish".replace("Nitish","Amit")

'Hi my name is Amit'

**Strip**

In [39]:
# stripping blank spaces

name = "               nitish              "
name.strip()

'nitish'

## Example Programs

In [1]:
# Find the length of a given string without using the len() function

s = input('Enter the string: ')

counter = 0

for i in s:
    counter += 1

print('Length of the given string is: ',counter)

Enter the string: Hello my name is Arunava Biswas
Length of the given string is:  31

In [2]:
# Extract username from a given email. 
# Eg if the email is nitish24singh@gmail.com 
# then the username should be nitish24singh

s = input('Enter the email: ')

pos = s.index('@')   # getting the position of '@'

# Now doing slicing using the position of the "@"
print("The username is: {}".format(s[0:pos]))

Enter the email: arunavabiswas@email.com
The username is: arunavabiswas

In [3]:
# Count the frequency of a particular character in a provided string. 
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('Enter the email: ')
term = input('Searching Character: ')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('The frequency of the searched item "{}" is: {}'.format(term, counter))

Enter the email: arunavabiswas@email.com
Searching Character: a
The frequency of the searched item "a" is: 5

In [4]:
# Write a program which can remove a particular character from a string.
# Here we need to put the result into a new string as strings are immutable.

s = input('Enter the string: ')
term = input('Character to remove: ')

result = ''  # Creating an empty string

for i in s:
    if i != term:
        result = result + i

print("The changed string is: {}".format(result))

Enter the string: my name is arunava biswas
Character to remove: a
The changed string is: my nme is runv bisws

In [5]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('Enter the string: ')

flag = True

for i in range(0,len(s)//2):
    if s[i] != s[len(s) - i -1]:
        flag = False
        print('The entered string is not a Palindrome')
        break

if flag:
    print('The entered string is a Palindrome')

Enter the string: malayalam
The entered string is a Palindrome

In [6]:
# Write a program to count the number of words in a string without split()

s = input('Enter the string: ')

L = []
temp = ''

for i in s:
    if i != ' ':
        temp = temp + i
    else:
        L.append(temp)
        temp = ''

L.append(temp)  # so the last word also get appended
print(L)

Enter the string: my name is arunava biswas
['my', 'name', 'is', 'arunava', 'biswas']

In [7]:
# Write a python program to convert a string to title case without using the title()
s = input('Enter the string: ')

L = []

for i in s.split():
    L.append(i[0].upper() + i[1:].lower()) # making the first letter Capital and rest lower case

print(" ".join(L))

Enter the string: my name is arunava biswas
My Name Is Arunava Biswas

In [8]:
# Write a program that can convert an integer to string.

number = int(input('Enter the number: '))

digits = '0123456789'
result = ''

while number != 0:
    result = digits[number % 10] + result
    number = number//10

print(result)
print(type(result))

Enter the number: 567
567
<class 'str'>