### `Tuples`

- A `tuple` in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

- In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

- Characterstics

    - Ordered
    - Unchangeble (Immutable)
    - Allows duplicate

### Creating Tuples

In [7]:
# empty
t1 = ()
print(t1)
print(type(t1))

# create a tuple with a single item
# here we need to pass "," after the single item
t2 = ('hello',)
print(t2)
print(type(t2))

# homo
t3 = (1,2,3,4)
print(t3)

# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)

# tuple
t5 = (1,2,3,(4,5))
print(t5)

# using type conversion
t6 = tuple('hello')
print(t6)

()
<class 'tuple'>
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [8]:
# here we are accessing items using indexing

print("Original tuple is: ",t3)
print("The first item of the tuple is: ",t3[0])
print("The last item of the tuple is: ",t3[-1])

Original tuple is:  (1, 2, 3, 4)
The first item of the tuple is:  1
The last item of the tuple is:  4

In [9]:
# here we are using slicing

print(t3[0:2:2])

(1,)

In [13]:
# Doing negative slicing on tuple

t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

### Editing items

In [10]:
# tuples are immutable just like strings

print(t3)

try:
    t3[0] = 100
except Exception as err:
    print(err)

(1, 2, 3, 4)
'tuple' object does not support item assignment

### Adding items

In [11]:
# Again not possible as they are immutable

print(t3)

# Trying to add a new item at 5th position
try:
    t3[4] = 5
except Exception as err:
    print(err)

(1, 2, 3, 4)
'tuple' object does not support item assignment

### Deleting items

In [12]:
# We can delete an entire tuple 
# But we cannot delete the items inside the tuple seperately

print(t3)

# trying to delete the 3rd item in the tuple
try:
    del t3[2]
except Exception as err:
    print(err)
 
# Deleting the entire tuple
del t3

# Checking
try:
    print(t3)
except Exception as err:
    print(err)

(1, 2, 3, 4)
'tuple' object doesn't support item deletion
name 't3' is not defined

### Operations on Tuples

In [15]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

# doing concatenation/merging
print(t1 + t2)

# creating same items 3 times
print(t1*3)

# membership
print(1 in t1)

# iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
1
2
3
4

### Tuple Functions

In [17]:
# len/sum/min/max/sorted
t = (1,2,3,4)

print(len(t))

print(sum(t))

print(min(t))

print(max(t))

print(sorted(t,reverse=True))

4
10
1
4
[4, 3, 2, 1]

In [19]:
# count

t = (1,2,3,4,5,5,3)

t.count(5)

2

In [22]:
# index
# giving the 1st instance of the item

t = (1,2,3,4,5,5,3)

t.index(5)

4

### Difference between Lists and Tuples

- Syntax
- Mutability
- The Speed of tuple is more
- Tuple takes less Memory
- Built in functions are more in lists than in tuple
- Lists are more `Error prone`
- Usability:
  - Where we need to only read the data we can use Tuples.
  - When we need to edit the data we need to use Lists.

In [30]:
# Proving tuples are faster than lists

import time 

L = list(range(1000000))
T = tuple(range(1000000))

start = time.time()
for i in L:
  i*5
print('Time taken by the List: ',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Time taken by the Tuple: ',time.time()-start)

Time taken by the List:  0.0900413990020752
Time taken by the Tuple:  0.07895112037658691

In [31]:
# Proving tuples take lesser memory
# Here we use "getsizeof()" from "sys" module to get the memory size

import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size is: ',sys.getsizeof(L))
print('Tuple size is: ',sys.getsizeof(T))

List size is:  8056
Tuple size is:  8040

In [32]:
# Proving lists are error prone
# Here due to change in list a list b also gets changed automatically

a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [33]:
# Doing the same with tuple

# Creating a tuple and then copy it in another tuple
a = (1,2,3)
b = a

print("Original a: ", a)
print(type(a))
print("Original b: ", b)
print(type(b))

# Adding another item to tuple a
# As there is no method for appending in tuple
a = a + (4,) 
print(a) # Here we can see change in a
print(b) # but no change in b

Original a:  (1, 2, 3)
<class 'tuple'>
Original b:  (1, 2, 3)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2, 3)

### Why use tuple?

### Special Syntax

In [34]:
# tuple unpacking
# Using this we can put the items of a tuple in different variables

a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [35]:
# Remember the number of items and number of variable should be same

try:
    a,b = (1,2,3)
    print(a,b)
except Exception as err:
    print(err)

too many values to unpack (expected 2)

In [36]:
# Value swaping

a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [37]:
# If we want only a certain number of items in atuple
# Just give variable names and put the rest in "others" using "*" before it

a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [38]:
# zipping tuples

a = (1,2,3,4)
b = (5,6,7,8)

# This will create a zip object
zip(a,b)

In [39]:
# To see the zip object as list we need to type convert the zip object

list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [40]:
# We can also do same as tuple

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

### `Sets`

- A set is an **unordered** collection of items. Every set element is **unique** (no duplicates) and must be **immutable** (cannot be changed).

- **However, a `set` itself is mutable. We can add or remove items from it**.

- Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

- Characterstics:
    - Unordered
    - Mutable
    - No Duplicates
    - Can't contain mutable data types

### Creating Sets

In [43]:
# empty
# Remember when to create an empty set we need to use the "set()"
# Else if we use "{}" it will create a dictionary by default
s = set()
print(s)
print(type(s))

# 1D 
s1 = {1,2,3}
print(s1)

# 2D
# it is not possible as set itself is a mutable object
try:
    s2 = {1,2,3,{4,5}}
    print(s2)
except Exception as err:
    print(err)

# hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)

# using type conversion
s4 = set([1,2,3])
print(s4)

# duplicates are not allowed
try:
    s5 = {1,1,2,2,4,4}
    print(s5)
except Exception as err:
    print(err)
    
# set can't have mutable items
try:
    s6 = {1,2,[3,4]}
    print(s6)
except Exception as err:
    print(err)

set()
<class 'set'>
{1, 2, 3}
unhashable type: 'set'
{1, (1, 2, 3), 4.5, 'hello'}
{1, 2, 3}
{1, 2, 4}
unhashable type: 'list'

In [42]:
# Proof that sets are unordered

s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

### Accessing Items

In [44]:
# indexing will not work on sets
# So slicing is also not possible
# Accessing items don't work as sets are unordered

s1 = {1,2,3,4}

try:
    print(s1[0:3])
except Exception as err:
    print(err)

'set' object is not subscriptable

### Editing Items

In [45]:
# Editing is also not going to work

s1 = {1,2,3,4}

try:
    s1[0] = 100
except Exception as err:
    print(err)

'set' object does not support item assignment

### Adding Items

In [46]:
# But we can add new items to a set
# To add one item in one go we use "add()"
# To add multiple items in one go we use "update()"

S = {1,2,3,4}

# add
S.add(5)
print(S)

# update
S.update([5,6,7])
print(S)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

### Deleting Items

In [47]:
# del
# We can delete the entire set but not a particular item of the set


s = {1,2,3,4,5}
print(s)

# Deleting the entire set
try: 
    del s[0]
    print(s)
except Exception as err:
    print(err)
    
# Deleting the entire set
del s
try: 
    print(s)
except Exception as err:
    print(err)

{1, 2, 3, 4, 5}
'set' object doesn't support item deletion
name 's' is not defined

In [56]:
# discard
# Here we can specify which item we want to delete

s = {1,2,3,4,5}
print(s)
s.discard(5)
print(s)

try: 
    s.discard(50)
except Exception as err:
    print(err)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [57]:
# remove
# using this we can do the same as discard
# But if we pass an item which is not present in the set it will throw error unlike discard

s = {1,2,3,4,5}
print(s)
s.remove(5)
print(s)

try: 
    s.remove(50)
except Exception as err:
    print(err)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}
50

In [58]:
# pop
# it will delete any item at random

s = {1,2,3,4,5}
print(s)
s.pop()
print(s)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}

In [59]:
# clear
# It will make the set empty

s = {1,2,3,4,5}
print(s)

try:
    s.clear()
    print(s)
except Exception as err:
    print(err)

{1, 2, 3, 4, 5}
set()

### Set Operation

In [61]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# Union(|)
# Printing all items of both the set
print(s1 | s2)

# Intersection(&)
# Printing the common items of both sets
print(s1 & s2)

# Difference(-)
# Printing items of the first set which are not present in the second set
print(s1 - s2)
print(s2 - s1)

# Symmetric Difference(^)
# Printing all items except the common items between the sets
print(s1 ^ s2)

# Membership Test("in" and "not in")
print(1 in s1)
print(1 not in s1)

# Iteration
for i in s1:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
True
False
1
2
3
4
5

### Set Functions

In [63]:
# len/sum/min/max/sorted
# Remember sorted() always return a list

s = {3,1,4,5,2,7}

print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=True))

6
22
1
7
[7, 5, 4, 3, 2, 1]

In [66]:
# union/update
# We can also do union using "union()" 
# The "update()" will put the result of the union on the prefix set.
# This change is permanent

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s3 = {9,10,11,12,13}

# s1 | s2
s1.union(s2)
print(s1)

s2.update(s3)
print(s2)
print(s3)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{9, 10, 11, 12, 13}

In [67]:
# intersection/intersection_update
# Same logic as above

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [68]:
# difference/difference_update
# Same logic as above

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [69]:
# symmetric_difference/symmetric_difference_update
# Same logic as above

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [70]:
# isdisjoint/issubset/issuperset

s1 = {1,2,3,4}
s2 = {7,8,5,6}

# Disjoint sets are sets which have no common items among them
s1.isdisjoint(s2)

True

In [72]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [73]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s2.issubset(s1)

True

In [75]:
# copy
# To copy a set we need to use "copy()"
# It will create a shallow copy

s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(id(s1))
print(s2)
print(id(s2))

{1, 2, 3}
2613655193856
{1, 2, 3}
2613655191840

### Frozenset
- Frozen set is just an immutable version of a Python set object
- After making a frozenset we cannot do any editing in it.

In [76]:
# create frozenset

fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

**what works and what does not?**
- **Ans:** All the Set operations(Union, Intersection, Difference etc) will work on frozenset also But Add/Remove will not work.
- Remember:
  - all **read functions** will work
  - all **write operations** will not work

In [77]:
# When to use frozenset?
# Whenever we want to create application where read-only operations will work

# 2D sets is possible 
# as in this case we are putting an immutable object
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

### Set Comprehension

In [78]:
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

### `Dictionary`

- Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

- In some languages it is known as `map` or `assosiative arrays`.

> dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

- Characterstics:
    - Mutable
    - Indexing has no meaning
    - keys can't be duplicated
    - keys can't be mutable items

### Create Dictionary

In [80]:
# empty dictionary

d = {}
d

{}

In [81]:
# 1D dictionary

d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1

{'name': 'nitish', 'gender': 'male'}

In [82]:
# with mixed keys
# Here keys are of different data types

d2 = {(1,2,3):1,'hello':'world'}
d2

{(1, 2, 3): 1, 'hello': 'world'}

In [83]:
# 2D dictionary -> JSON

s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [84]:
# using sequence and dict function
# This is a type conversion
# Here we are passing a list of tuples inside the dict()

d4 = dict([('name','nitish'),('age',32),(3,3)])
d4

{'name': 'nitish', 'age': 32, 3: 3}

In [85]:
# duplicate keys are not allowed
# in case of duplicate keys the latest value will get stored

d5 = {'name':'nitish','name':'rahul'}
d5

{'name': 'rahul'}

In [94]:
# mutable items as keys are not allowed
# So we cannot use a mutable datatype as key

# Here it will not work as we are passing a list as a key
try:
    d6 = {'name':'nitish',[1,2,3]:2}
    print(d6)
except Exception as err:
    print(err)
    
# But if we use a tuple it will work
try:
    d7 = {'name':'nitish',(1,2,3):2}
    print(d7)
except Exception as err:
    print(err)

unhashable type: 'list'
{'name': 'nitish', (1, 2, 3): 2}

### Accessing items

In [95]:
# Creating dictionary 
my_dict = {'name': 'Jack', 'age': 26}
my_dict

{'name': 'Jack', 'age': 26}

In [96]:
# printing a value using []
my_dict['age']

26

In [97]:
# printing a value using get
my_dict.get('age')

26

In [98]:
# printing the inner key's value of the dictionary
# Here "maths" is a key inside the key "subjects" of the dictionary "s"
s['subjects']['maths']

67

### Adding key-value pair

In [99]:
print(d4)

d4['gender'] = 'male'
print(d4)

d4['weight'] = 72
print(d4)

# Adding key value pair in 2d dictionary
s['subjects']['ds'] = 75
print(s)

{'name': 'nitish', 'age': 32, 3: 3}
{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male'}
{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

### Remove key-value pair

In [100]:
# pop
# This will remove the key value pair whic key is provided

d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
print(d)
d.pop('name')
print(d)

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
{'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

In [101]:
# popitem
# This will delete tha last key value pair

d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
print(d)
d.popitem()
print(d)
d.popitem()
print(d)

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male'}
{'name': 'nitish', 'age': 32, 3: 3}

In [102]:
# del
# We can delete the entire dictionary or a specific key value pair

d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
print(d)
del d['name']
print(d)

del d
try:
    print(d)
except Exception as err:
    print(err)

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
{'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
name 'd' is not defined

In [ ]:
# clear
# This will make the dictionary as empty dictionary 

d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
print(d)
d.clear()
print(d)

In [103]:
# Here we are deleting key value in a 2d dictionary 

print(s)
del s['subjects']['maths']
print(s)

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}
{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}

### Editing key-value pair

In [104]:
# Here editing an existing key's value

print(s)
s['subjects']['dsa'] = 80
print(s)

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}
{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

### Dictionary Operations

- Membership
- Iteration

In [105]:
# membership operator works on keys

print(s)

print('name' in s)

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}
True

In [107]:
# iteration

d = {'name':'nitish','gender':'male','age':33}

for i in d:
    print(i," : ",d[i])

name  :  nitish
gender  :  male
age  :  33

### Dictionary Functions

In [112]:
# len/sorted

print(d)
print(len(d))
print(sorted(d,reverse=True)) # it will sort all the keys in descending order

# min and max will get calculated on the keys on the basis of their ASCII values
print(min(d))
print(max(d))

{'name': 'nitish', 'gender': 'male', 'age': 33}
3
['name', 'gender', 'age']
age
name

In [109]:
# items/keys/values

print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'nitish', 'gender': 'male', 'age': 33}
dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['nitish', 'male', 33])

In [111]:
# update
# It will update the prefix dictionary with the later dictionary
# This change is permanent


d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}
print(d1)
print(d2)

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 5}
{4: 7, 6: 8}
{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension
![image.png]()

In [113]:
# print 1st 10 numbers and their squares

{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [114]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [119]:
# using existing dict converting kms to miles

distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances)
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 1000, 'mumbai': 2000, 'bangalore': 3000}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [120]:
# using zip

days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [121]:
# using if condition

products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [122]:
# Nested Comprehension
# print tables of number from 2 to 4

{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}